*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    max-width: 900px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: black;
  }

  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: black;
    transform: translateX(-50px);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: 'Oswald', sans-serif;
    background-color:#000000;
    max-width: none;
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }
    .burger{
     display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

.footer .footer-content{
    border: 1px solid red;
    height: 350px;
    display: flex;
}
.footer .footer-conent .footer-section{
    flex: 1;
    border: 1px solid white;
}
.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0px;
    padding-top: 17px;
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 1000000px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 390px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,72);
    padding: 12px 20px;
    z-index: 1;
    letter-spacing: 2px;
}
  
.dropdown-content > li > a:hover, .dropdown-content > li > a:focus {
      color: rgb(141, 12, 12);
      background-color: transparent;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > li > a {
      color: #ffffff;
      font-size: 14px;
}

