*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.carousel-container{
    width: 90%;
    height: auto;
    overflow: hidden;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes blink{
    50% {
        opacity: 0;
    }
    80% {
        opacity: .5;
    }
}
h3{
    text-align: center;
    padding: 50px;
    color: red;
    font-size: 30px;
    animation: blink 1 linear infinite;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: 'Oswald', sans-serif;
    background-color:#7a4462;
    max-width: none;
}

.logo{
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }
    .burger{
     display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
caption{
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.col-1-2-3{
    text-align: left;
}
.foo{
    display: block;
}
.site-footer{
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 1000000px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a4462;
    min-width: 345px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,72);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown-content > li > a:hover, .dropdown-content > li > a:focus {
      color: cyan;
      background-color: transparent;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > li > a {
      color: #ffffff;
}

.justify{
    margin-left: 20px;
}