*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}


#prevBtn{
    position: absolute;
    top: 30%;
    z-index: 10;
    left: 28%;
    color: black;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 30%;
    z-index: 10;
    right: 28%;
    color: black;
    cursor: pointer;
}